*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.header {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  z-index: 100;
}

.logo h1 {
  font-weight: 900;
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo h1 span {
  color: red;
}

.h2 {
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  margin-top: 5px;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li {
  background-color: red;
  border-radius: 5px;
  padding: 8px 12px;
  transition: transform 0.3s;
}

.menu ul li:hover {
  transform: scale(1.1) rotate(1.5deg);
  cursor: pointer;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imenu {
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
  display: none; /* caché par défaut */
}
.button{
    display: grid;
    margin-top: 270px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.288);
}
.button button{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.button button:hover{
  transform: scale(1.05);
  transition: 0.4s;
}
.button img{
  width: 100px;
}
.button a{
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}






@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: 150px;
  }
  }
  
  